
  body{
    background-color:#94B49F;
  }
  hr{
    border-color: grey;
    border-style: dotted none none ;
    width: 5%;
    border-width: 5px;

  }

h1{
  color: blue;
}

.colo
{
  color: blue;
}
.colo:hover
{
  color: red;
}
img:hover
{
  height: 200px;
}
